<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.buggetbirl.fishshrimpcrab" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fish Shrimp Crab</name>
    <description>
      Fish Shrimp Crab
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
       Bug Get Birl
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="icon.png" />
    <platform name="android">

       <!-- <config-file mode="merge" parent="/manifest" platform="android">
            <preference name="play_store_key" value="" />
        </config-file>-->
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png" />
        <feature name="SocialSharing">
            <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
        </feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <platform name="wp8">
    </platform>
    <platform name="windows">
    </platform>
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="false" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="loadUrlTimeoutValue" value="700000" />
 

	 
<plugin name="cordova-plugin-admobpro"  />
<plugin name="cordova-plugin-console" />
<plugin name="cordova-plugin-device"  />
<plugin name="cordova-plugin-dialogs"  />
<plugin name="cordova-plugin-inappbrowser"  />

<plugin name="cordova-plugin-network-information"  />
<plugin name="cordova-plugin-statusbar" />
<plugin name="cordova-plugin-vibration"  />
<plugin name="cordova-plugin-whitelist" />
<plugin name="cordova-plugin-x-socialsharing"  />
<plugin name="cordova-plugin-x-toast"  />
  
</widget>
